.ordersUser{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 28em;
    margin: 2%;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.order time, .order h3{
    padding: 5px;
}

.orderProducts{
    display: flex;
    overflow-x: auto;
}

.productName, .productType, .productCount{
    width: 100%;
}

.productName{
    height: 3em;
}

.product{
    display: flex;
    flex-direction: column;
    margin: 2%;
    align-items: center;
    width: 15em;
    padding: 10px;
}

.product img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.productDescriptions{
    overflow: auto;
    text-overflow: ellipsis;
    height: 8em;
}

.productDescriptions::-webkit-scrollbar, .ordersUser::-webkit-scrollbar, .orderProducts::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

.productDescriptions::-webkit-scrollbar-thumb, .ordersUser::-webkit-scrollbar-thumb, .orderProducts::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.productDescriptions::-webkit-scrollbar-thumb:hover, .ordersUser::-webkit-scrollbar-thumb:hover, .orderProducts::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.orderProducts::-webkit-scrollbar {
    height: 8px;
}

.notCreated{
    background-color: red;
    border-radius: 20px;
}


.anythingOrder{
    padding: 10px;
    text-align: center;
    width: 70%;
    color: gray;
    position: relative;
    right: 0;
    margin: auto;
}