.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.leftInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 400px;
    padding: 2rem;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.labelForm {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.inputForm {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #d2d2d2;
    font-size: 1rem;
}

.submitButton {
    display: block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: #0070f3;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.submitButton:hover {
    background-color: #0060cc;
}

.SpanAdd {
    display: block;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: #e2e2e2;
    border-radius: 4px;
    font-size: 1rem;
}

.links{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}